<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>音障-全天候监测平台</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="static/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="static/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="static/bower_components/morris.js/morris.css">
    <link rel="stylesheet" href="static/bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="static/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="static/latin.css">
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
<div class="wrapper" style="height: auto; min-height: 100%;">

    <header class="main-header">
        <a class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>灾害</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>灾害报表</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="static/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{ current_user.phone }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                <p>
                                    {{ current_user.phone }}
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Body -->

                            <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/profile" class="btn btn-default btn-flat">个人主页</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/logout" class="btn btn-default btn-flat">登出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{ current_user.phone }}</p>
                    <a><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="header">灾害报表</li>
                <li>
                    <a href="detail?class=dolphin">
                        <i class="fa fa-dashboard"></i> <span>海豚音攻击</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="detail?class=machine">
                        <i class="fa fa-files-o"></i>
                        <span>机器学习攻击</span>
                    </a>
                </li>
                <li>
                    <a href="detail?class=win">
                        <i class="fa fa-th"></i> <span>成功破获案例</span>
                    </a>
                </li>
                <li><a href="detail?class=caution"><i class="fa fa-book"></i> <span>高危区域</span></a></li>

                <li class="header">其他</li>
                <li><a href="/heatmap"><i class="fa fa-circle-o text-red"></i> <span>热力追踪</span></a></li>
                <li><a href="/dataCenter"><i class="fa fa-circle-o text-yellow"></i> <span>灾害报表</span></a></li>
                <li><a href="/mission"><i class="fa fa-circle-o text-aqua"></i> <span>任务中心</span></a></li>
                <li><a href="/privilege"><i class="fa fa-circle-o text-pink"></i> <span>管理员权限</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">
        <!-- 顶部 -->
        <section class="content-header">
            <h1>
                数据中心
                <small>全天候监测平台</small>
            </h1>
        </section>

        <section class="content">
            <!-- 顶部4块 -->
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ data['dolphin'] }}起</h3>
                            <p>海豚音攻击</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="detail?class=dolphin" style="cursor:pointer" class="small-box-footer">点击查看详情 <i
                                class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ data['machine'] }}起</h3>
                            <p>机器学习级别攻击</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="detail?class=machine" style="cursor:pointer" class="small-box-footer">点击查看详情 <i
                                class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ data['win'] }}宗</h3>

                            <p>成功破获违法音源</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="detail?class=win" style="cursor:pointer" class="small-box-footer">点击查看详情 <i
                                class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>{{ data['caution'] }}处</h3>

                            <p>高危区域</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="detail?class=caution" style="cursor:pointer" class="small-box-footer">点击查看详情 <i
                                class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <!-- 左列 -->
                <section class="col-lg-7 connectedSortable">
                    {#历史跟踪#}
                    <div class="nav-tabs-custom">
                        <!-- Tabs within a box -->
                        <ul class="nav nav-tabs pull-right">
                            <li class="active"><a href="#jiqi-chart" data-toggle="tab">机器学习</a></li>
                            <li class=""><a href="#haitun-chart" data-toggle="tab">海豚音</a></li>
                            <li><a href="#sales-chart" data-toggle="tab">月度汇总</a></li>
                            <li class="pull-left header"><i class="fa fa-inbox"></i> 历史跟踪</li>
                        </ul>
                        <div class="tab-content no-padding">
                            <!-- Morris chart - Sales -->
                            <div class="chart tab-pane active" id="jiqi-chart"
                                 style="position: relative; height: 300px;"></div>
                            <div class="chart tab-pane active" id="haitun-chart"
                                 style="position: relative; height: 300px;"></div>
                            <div class="chart tab-pane" id="sales-chart"
                                 style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                    {#用户留言#}
                    <div class="box box-success">
                        <div class="box-header">
                            <i class="fa fa-comments-o"></i>

                            <h3 class="box-title">用户留言</h3>

                        </div>
                        <div class="box-body chat" id="chat-box">
                            <!-- chat item-->
                            <div class="item">
                                <img src="static/dist/img/user4-128x128.jpg" alt="user image" class="online">

                                <p class="message">
                                    <a class="name">
                                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                                        王宇翔
                                    </a>
                                    今天真倒霉，在春熙路被海豚音攻击劫持了，手机不停地拨打给一个陌生号码，后来把语音助手关了就好了
                                </p>
                                <!-- /.attachment -->
                            </div>
                            <!-- /.item -->
                            <!-- chat item -->
                            <div class="item">
                                <img src="static/dist/img/user3-128x128.jpg" alt="user image" class="offline">

                                <p class="message">
                                    <a class="name">
                                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:15</small>
                                        李攀
                                    </a>
                                    麻烦管理员去建设路5号看看呢，那里好像有攻击音源，我手机被攻击了，但预警系统没有提醒过我😢
                                </p>
                            </div>
                            <!-- /.item -->
                            <!-- chat item -->
                            <div class="item">
                                <img src="static/dist/img/user2-160x160.jpg" alt="user image" class="offline">

                                <p class="message">
                                    <a class="name">
                                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                                        赵航
                                    </a>
                                    有了音障助手，妈妈再也不用担心我在上学的路上手机被黑了😁
                                </p>
                            </div>
                            <!-- /.item -->
                        </div>
                        <!-- /.chat -->
                        <div class="box-footer">
                            <div class="input-group">
                                <input class="form-control" placeholder="Type message...">

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 右列 -->
                <section class="col-lg-5 connectedSortable">

                    <!-- Map box -->
                    <div class="box box-solid bg-light-blue-gradient">
                        <div class="box-header">

                            <i class="fa fa-map-marker"></i>

                            <h3 class="box-title">
                                全国攻击流量
                            </h3>
                        </div>
                        <div class="box-body">
                            <div id="world-map" style="height: 250px; width: 100%;"></div>
                        </div>
                        <!-- /.box-body-->
                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                    <div id="sparkline-1"></div>
                                    <div class="knob-label">全国上报记录</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                    <div id="sparkline-2"></div>
                                    <div class="knob-label">四川省上报记录</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-xs-4 text-center">
                                    <div id="sparkline-3"></div>
                                    <div class="knob-label">成都市上报记录</div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.box -->

                    <!-- solid sales graph -->
                    <div class="box box-solid bg-teal-gradient">
                        <div class="box-header">
                            <i class="fa fa-th"></i>

                            <h3 class="box-title">查获历史记录</h3>

                        </div>
                        <div class="box-body border-radius-none">
                            <div class="chart" id="line-chart" style="height: 250px;"></div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                    <input type="text" class="knob" data-readonly="true" value="12" data-width="60"
                                           data-height="60"
                                           data-fgColor="#39CCCC">

                                    <div class="knob-label">本月已处理案例</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                    <input type="text" class="knob" data-readonly="true" value="18" data-width="60"
                                           data-height="60"
                                           data-fgColor="#39CCCC">

                                    <div class="knob-label">本月待处理案例</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-xs-4 text-center">
                                    <input type="text" class="knob" data-readonly="true" value="8" data-width="60"
                                           data-height="60"
                                           data-fgColor="#39CCCC">

                                    <div class="knob-label">本月新增案例</div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->


                    <!-- /.box -->

                </section>
            </div>

        </section>
    </div>

</div>
<script>
    var wenzi = document.querySelector('body > div > aside > section > div > div.pull-left.info > a > i').nextSibling
    wenzi.textContent = '超级管理员'
    var user_pri = '{{ current_user.privilege }}'
    if (user_pri < 3) {
        document.querySelector('body > div > aside > section > ul > li:nth-child(10)').remove()
        wenzi.textContent = '高级管理员'
    }
</script>

<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="static/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="static/bower_components/raphael/raphael.min.js"></script>
<script src="static/bower_components/morris.js/morris.min.js"></script>
<script src="static/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<script src="static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="static/jquery-jvectormap-cn-mill.js"></script>
<script src="static/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
<script src="static/bower_components/moment/min/moment.min.js"></script>
<script src="static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="static/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="static/bower_components/fastclick/lib/fastclick.js"></script>
<script src="static/dist/js/adminlte.min.js"></script>
<script>
    $(function () {

        'use strict';

        // bootstrap WYSIHTML5 - text editor
        $('.textarea').wysihtml5();

        $('.daterange').daterangepicker({
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            startDate: moment().subtract(29, 'days'),
            endDate: moment()
        }, function (start, end) {
            window.alert('You chose: ' + start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        });

        /* jQueryKnob */
        $('.knob').knob()
        var visitorsData = {
            "CN-11": 30,
            "CN-12": 30,
            "CN-13": 30,
            "CN-14": 30,
            "CN-15": 30,
            "CN-17": 30,
            "CN-18": 30,
            "CN-19": 15,
            "CN-20": 15,
            "CN-21": 15,
            "CN-22": 15,
            "CN-23": 15,
            "CN-24": 15,
            "CN-25": 15,
            "CN-26": 50,
            "CN-27": 50,
            "CN-28": 50,
            "CN-29": 50,
            "CN-30": 50,
            "CN-31": 50,
            "CN-32": 112,
            "CN-33": 112,
            "CN-34": 112,
            "CN-35": 112,
            "CN-36": 112,
            "CN-37": 112,
            "CN-38": 112,
            "CN-39": 112,
            "CN-40": 112,
            "CN-41": 70,
            "CN-42": 70,
            "CN-43": 70,
            "CN-44": 70,
            "CN-45": 70,
            "CN-46": 70,
            "CN-47": 70,
            "CN-48": 70,
            "CN-49": 70,
            "CN-50": 99,
            "CN-51": 99,
            "CN-52": 99,
            "CN-53": 99,
            "CN-54": 99,
            "CN-55": 99,
            "CN-56": 99,
            "CN-57": 45,
            "CN-58": 45,
            "CN-59": 45,
            "CN-60": 45,
            "CN-61": 45,
            "CN-62": 45,
            "CN-63": 45,
            "CN-64": 45,
            "CN-65": 45,
            "CN-": 45,
        };
        $('#world-map').vectorMap({
            map: 'cn_mill',
            backgroundColor: 'transparent',
            regionStyle: {
                initial: {
                    fill: '#e4e4e4',
                    'fill-opacity': 1,
                    stroke: 'none',
                    'stroke-width': 0,
                    'stroke-opacity': 1
                }
            },
            series: {
                regions: [
                    {
                        values: visitorsData,
                        scale: ['#4ee80f', '#e80f23'],
                        normalizeFunction: 'polynomial'
                    }
                ]
            },
            onRegionLabelShow: function (e, el, code) {
                if (typeof visitorsData[code] != 'undefined')
                    el.html(el.html() + ': ' + visitorsData[code] + ' 起攻击案例');
            }
        });
        // Sparkline charts
        var myvalues = [1000, 1200, 920, 927, 931, 1027, 819, 930, 1021];
        $('#sparkline-1').sparkline(myvalues, {
            type: 'line',
            lineColor: '#92c1dc',
            fillColor: '#ebf4f9',
            height: '50',
            width: '80'
        });
        myvalues = [515, 519, 520, 522, 652, 810, 370, 627, 319, 630, 532];
        $('#sparkline-2').sparkline(myvalues, {
            type: 'line',
            lineColor: '#92c1dc',
            fillColor: '#ebf4f9',
            height: '50',
            width: '80'
        });
        myvalues = [15, 19, 20, 22, 33, 27, 31, 27, 19, 30, 99];
        $('#sparkline-3').sparkline(myvalues, {
            type: 'line',
            lineColor: '#92c1dc',
            fillColor: '#ebf4f9',
            height: '50',
            width: '80'
        });

        // The Calender
        $('#calendar').datepicker();

        // SLIMSCROLL FOR CHAT WIDGET
        $('#chat-box').slimScroll({
            height: '250px'
        });

        /* Morris.js Charts */
        // Sales chart
        var area = new Morris.Area({
            element: 'jiqi-chart',
            resize: true,
            data: [
                {y: '2018-7', item1: 358-227},
                {y: '2018-8', item1: 295-227},
                {y: '2018-9', item1: 298-227},
                {y: '2018-10', item1: 233-227},
                {y: '2018-11', item1: 271-227},
                {y: '2018-12', item1: 254-227},
                {y: '2019-1', item1: 311-227},
                {y: '2019-2', item1: 352-227},
                {y: '2019-3', item1: 321-227},
                {y: '2019-4', item1: 274-227}
            ],
            xkey: 'y',
            ykeys: ['item1'],
            labels: ['机器学习攻击'],
            lineColors: ['#40e0a0',],
            hideHover: 'true'
        });
        var area2 = new Morris.Area({
            element: 'haitun-chart',
            resize: true,
            data: [
                {m: '2018-7', item2: 534-246},
                {m: '2018-8', item2: 455-246},
                {m: '2018-9', item2: 432-246},
                {m: '2018-10', item2: 468-246},
                {m: '2018-11', item2: 399-246},
                {m: '2018-12', item2: 375-246},
                {m: '2019-1', item2: 345-246},
                {m: '2019-2', item2: 302-246},
                {m: '2019-3', item2: 322-246},
                {m: '2019-4', item2: 298-246}
            ],
            xkey: 'm',
            ykeys: ['item2',],
            labels: ['海豚音攻击'],
            lineColors: ['#3c8dbc'],
            hideHover: 'true'
        });
        var line = new Morris.Line({
            element: 'line-chart',
            resize: true,
            data: [
                {y: '2018-7', item1: 32-20, item2: 26},
                {y: '2018-8', item1: 34-20, item2: 24},
                {y: '2018-9', item1: 42-20, item2: 29},
                {y: '2018-10', item1: 12-20, item2: 15},
                {y: '2018-11', item1: 7-20, item2: 12},
                {y: '2018-12', item1: 15-20, item2: 14},
                {y: '2019-1', item1: 22-20, item2: 11},
                {y: '2019-2', item1: 42-20, item2: 2},
                {y: '2019-3', item1: 32-20, item2: 4},
                {y: '2019-4', item1: 25-20, item2: 7}
            ],
            xkey: 'y',
            ykeys: ['item1', 'item2'],
            labels: ['海豚音查获', '机器学习查获'],
            lineColors: ['#c0b0a0', '#3c8dbc'],
            hideHover: 'auto',
            lineWidth: 2,
            gridTextColor: '#fff',
            gridStrokeWidth: 0.4,
            pointSize: 4,
            pointStrokeColors: ['#efefef'],
            gridLineColor: '#efefef',
            gridTextFamily: 'Open Sans',
            gridTextSize: 10
        });

        // Donut Chart
        var donut = new Morris.Donut({
            element: 'sales-chart',
            resize: true,
            colors: ['#3c8dbc', '#f56954', '#00a65a'],
            data: [
                {label: '海豚音攻击', value: 52},
                {label: '机器学习攻击', value: 47},
                {label: '查获案例', value: 12}
            ],
            hideHover: 'auto'
        });

        // Fix for charts under tabs
        $('.box ul.nav a').on('shown.bs.tab', function () {
            area.redraw();
            area2.redraw();
            donut.redraw();
            line.redraw();
        });

        /* The todo list plugin */
        $('.todo-list').todoList({
            onCheck: function () {
                window.console.log($(this), 'The element has been checked');
            },
            onUnCheck: function () {
                window.console.log($(this), 'The element has been unchecked');
            }
        });
        document.querySelector('#haitun-chart').className = 'chart tab-pane'
    });
</script>
<script src="static/dist/js/demo.js"></script>
</body>
</html>
